* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: mintcream;
}

body {
  display: flex;
  flex-direction: column;
}

/* .tallyslash {
  font-size: 7rem;
  font-family: Futura, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: cornsilk;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

#icythein {
  border: 0.5rem solid aliceblue;
  /* width: 50rem;
  height: 80rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0.2rem 0.2rem 2rem 0.2rem aliceblue;
  max-width: 100%;
  max-height: 100%;
}

/* img {
  display: none;
} */

#playerImage,
#backgroundImage,
#enemyImage {
  display: none;
}
